@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.bg-primary {
  background-color: #d46858 !important;
}

.color-primary {
  color: #d46858 !important;
}

.color-secondary {
  color: #464646 !important;
}

.color-titulo {
  color: #e06653;
}
.color-titulo:hover {
  color: #e06653;
}

.color-texto {
  color: #636363;
}
.text-primary {
  font-size: 19px;
}
.active {
  color: #e06653 !important;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.fs-55 {
  font-size: 55px;
}
.fs-52 {
  font-size: 52px;
}

.fs-38 {
  font-size: 38px;
}
.fs-34 {
  font-size: 34px;
}
.fs-33 {
  font-size: 33px;
}
.fs-30 {
  font-size: 30px;
}
.fs-29 {
  font-size: 29px;
}
.fs-28 {
  font-size: 28px;
}
.fs-27 {
  font-size: 27px;
}
.fs-25 {
  font-size: 25px;
}
.fs-23 {
  font-size: 23px;
}
.fs-22 {
  font-size: 22px;
}
.fs-19 {
  font-size: 19px;
}
.fs-18 {
  font-size: 18px;
}
.fs-17 {
  font-size: 17px;
}
.fs-16 {
  font-size: 16px;
}
.fs-15 {
  font-size: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-13 {
  font-size: 13px;
}
.fs-12 {
  font-size: 12px;
}

.btn-primary {
  background-color: rgba(212, 104, 88, 1) !important;
  border: none;
}

.pointer {
  cursor: pointer;
  transition: 0.5s;
}
.pointer:hover {
  transform: scale(1.075);
  transition: 0.5s;
}

a {
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  transition: 0.3s;
  transform: scale(1.1);
}

.scale {
  transition: 0.3s;
}
.scale:hover {
  transition: 0.3s;
  transform: scale(1.075);
}

@media (max-width: 991px) {
  .none {
    display: none;
  }
}
/* navbar */
.phone {
  width: 18px;
}

.logo {
  width: 170px;
}
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}

/*banner*/
.banner {
  background: url('./assets/Home/slider-1.jpg') no-repeat center center/cover;
  height: 600px;
}

.bg-banner {
  background-color: rgba(0, 0, 0, 0.4);
  width: 345px;
}

/*bienvenida*/

.isotopo {
  width: 300px;
  margin-right: -70px;
  margin-top: -88px;
}
.contenedor {
  width: 600px;
}

.bienvenida {
  margin-top: -30px;
}

@media (max-width: 500px) {
  .bienvenida {
    margin-top: 0;
  }
}

/*locaciones*/
.locacion1 {
  width: 350px;
  height: 350px;
  background: url('./assets/Home/portada-cancun.jpg') center center/cover;
}
.locacion2 {
  width: 350px;
  height: 350px;
  background: url('./assets/Home/portada-isla.jpg') center center/cover;
}
.locacion3 {
  width: 350px;
  height: 350px;
  background: url('./assets/Home/portada-playa.jpg') center center/cover;
}

.box {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1199px) {
  .locacion1 {
    width: 300px;
    height: 300px;
  }
  .locacion2 {
    width: 300px;
    height: 300px;
  }
  .locacion3 {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 991px) {
  .locacion1 {
    width: 220px;
    height: 220px;
  }
  .locacion2 {
    width: 220px;
    height: 220px;
  }
  .locacion3 {
    width: 220px;
    height: 220px;
  }
  .box {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 767px) {
  .locacion1 {
    width: 345px;
    height: 345px;
  }
  .locacion2 {
    width: 345px;
    height: 345px;
  }
  .locacion3 {
    width: 345px;
    height: 345px;
  }
  .box {
    width: 200px;
    height: 200px;
  }
}
/*banner clima*/
.baner-clima {
  background: url('./assets/Home/banner-clima.jpg') no-repeat center
    center/cover;
  height: 580px;
}

/*beneficios*/

.beneficios-img {
  width: 100px;
}

/*Casa santosha*/
.santosha {
  background: url('./assets/Home/banner-santosha.jpg') no-repeat center
    center/cover;
  height: 499px;
}

.santosha-banner {
  height: 120px;
  width: 600px;
  background-color: rgba(212, 104, 88, 0.85);
}

/*Contacto*/
.contacto-img {
  width: 500px;
}

@media (max-width: 1200px) {
  .contacto-img {
    width: 350px;
  }
}

.form-control::placeholder {
  color: #d46858;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 21px;
}

/*footer*/

.footer-flor {
  width: 75px;
}

.footer-redes {
  width: 50px;
}

.bg-footer {
  background-color: #636363;
}

.footer-img {
  width: 120px;
}

/*CONTACTO PÁGINA*/

.banner-contacto {
  background: url('./assets/Contacto/banner-contacto.jpg') no-repeat center
    center/cover;
  height: 499px;
}

.contacto-img-box {
  width: 150px;
}

.box-contacto {
  width: 300px;
  height: 300px;
  background-color: #d46858;
}

.banner-contacto-final {
  background: url('./assets/Contacto/banner-final-contacto.jpg') no-repeat
    center center/cover;
  height: 500px;
}

.box-contacto-final {
  background-color: rgba(255, 255, 255, 0.8);
}

/*ABOUT PAGE*/

.about {
  background: url('./assets/About/portada-aboutus.jpg') no-repeat center
    center/cover;
  height: 603px;
}

@media (max-width: 992px) {
  .equipo-img {
    width: 350px;
  }
}

.about-us {
  background: url('./assets/About/banner-aboutus.jpg') no-repeat center
    center/cover;
  height: 527px;
}

.staff-img {
  width: 100%;
}
.bg-fundador {
  background-color: #ea7e67;
  width: 750px;
}

.daniel {
  background: url('./assets/About/daniel-2.jpg') center center/cover;
  width: 100%;
  height: 255px;
}

.renata {
  background: url('./assets/About/renata-2.jpg') center center/cover;
  width: 100%;
}
.humberto {
  background: url('./assets/About/foto-4-2.jpg') center center/cover;
  width: 100%;
}
.erving {
  background: url('./assets/About/daniel-2.jpg') center center/cover;
  width: 100%;
}

@media (max-width: 1024px) {
  .daniel {
    height: 210px;
  }
}

@media (max-width: 991px) {
  .daniel {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .daniel {
    height: 495px;
  }
  .renata {
    height: 495px;
  }
  .humberto {
    height: 495px;
  }
  .erving {
    height: 495px;
  }
}
@media (max-width: 375px) {
  .daniel {
    height: 345px;
  }
  .renata {
    height: 345px;
  }
  .humberto {
    height: 345px;
  }
  .erving {
    height: 345px;
  }
}

/*SERVICIOS PAGE*/

.banner-servicios {
  background: url('./assets/banner-servicios.jpg') no-repeat center center/cover;
  height: 499px;
  margin-bottom: 100px;
}

.servicios {
  width: 110px;
}

/*LOCACIONES PAGE*/
.banner-locacion {
  background: url('./assets/MCETC-8041.jpg') center center/cover no-repeat;
  height: 600px;
}
.banner-isla-mujeres {
  background: url('./assets/banner-isla-mujeres.jpg') center center/cover
    no-repeat;
  height: 600px;
}
.banner-pdc {
  background: url('./assets/banner-pdc.jpg') center center/cover no-repeat;
  height: 600px;
}

.swiper-img {
  width: 100%;
}

/*CASA TROPICAL PAGE*/
.banner-casa-tropical {
  background: url('./assets/Home/MCETC-7830.jpg') no-repeat center center/cover;
  height: 700px;
}

.banner-mi-casa-pdc {
  background: url('./assets/banners/MCETC-pdc-banner.jpg') no-repeat center
    center/cover;
  height: 700px;
}
.swiper-iconos {
  width: 15px;
}

/*CASA TROPICAL INTERIOR*/
.casa-tropical-interior {
  background: url('./assets/casa-tropical-interior.jpg') center center/cover;
  height: 600px;
}

.casa-santosha-interior {
  background: url('./assets//casa-santosha-interior.jpg') center center/cover;
  height: 600px;
}
.map {
  height: 500px;
}

.review {
  width: 345px;
}

@media (max-width: 1199px) {
  .review {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .review {
    width: 220px;
  }
}

@media (max-width: 767px) {
  .review {
    width: 100%;
  }
}

/*SWIPER*/

.swiper-button-prev {
  color: #636363;
  background-color: white;
  width: 45px;
  height: 55px;
}
.swiper-button-next {
  color: #636363;
  background-color: white;
  width: 50px;
  height: 60px;
}
